#friends-display-link{
    text-align: center;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    padding: 15px 0px;
    margin-top: 70px;
    background-color: #fafafa;
}
#friends-display-link i{
    color: rgba(0, 0, 0, 0.3);
    margin: 6px;
}
#friends-display-link i:last-child{
    padding-top: 3px;
}
.friends-screen{
    padding: 150px var(--horizontal-space);
}
